<h3> {{ template.name }}</h3>
{#<p class="date">(<i>Змінений:</i> {{ template.change_data }})</p>#}


<form action="/admin/{{ mode }}Template?id={{ template.id }}" id="edit_template_form">

    <label>
        <div class="legend">
            Ім’я шаблону:
        </div>

        <div class="inp">
            <input id="db_book_name" type="text" name="book_name" value="{{ template.name }}">
        </div>
    </label>

    <label>
    <div class="legend">
        Схема бази даних:
    </div>

    <div class="inp">
        <textarea id="db_schema_content">{{ template.db_schema }}</textarea>
    </div>
    </label>

    <label>
    <div class="legend">
        Шаблон відображення:
    </div>

    <div class="inp">
        <textarea id="view_template">{{ template.view_template }}</textarea>
    </div>
    </label>

    <button id="subm" style="float: left">Зберегти</button>
    <p id="msg"></p>
</form>
