{% for field in fields %}

    {% if field.subfields is null %}
        <label>
            <div class="source_fields_label">{{ field.label }}:</div>
            {% if field.type == 'text' %}
                <textarea name="{{ field.id }}" class="source_textarea"></textarea>
            {% else %}
                <input type="text" name="{{ field.id }}" val="{{ field.type }}" class="source_input">
            {% endif %}

        </label>

        {% if field.multifields > 1 %}
            <button id="{{ field.id }}" class="add_multifield btn btn-primary"></button>
        {% endif %}

    {% else %}
        <i style="float:left">{{ field.label }}:</i>
        <div class="subfields">
            {% for key, subfield in field.subfields %}
                <label>
                    <div class="source_fields_label_sub">{{ subfield }}:</div>
                    <input type="text" name="{{ field.id }}[{{ key }}]" val="{{ field.type }}" class="source_input_sub">
                </label>
            {% endfor %}

            {% if field.multifields > 1 %}
                <button id="{{ field.id }}" class="add_multifield btn btn-primary"></button>
            {% endif %}

        </div>

    {% endif %}

{% endfor %}

<script>
    var multifields = {{ multifields|raw }};
</script>