{% for field in fields %}

    {% if field.subfields is null %}
        <div class="control-group">
            <label for="{{ field.id }}" class="control-label">
                {{ field.label }}
            </label>

            <div class="controls">
                {% if field.type == 'text' %}
                    <textarea name="{{ field.id }}" class="source_textarea" id="{{ field.id }}"></textarea>
                {% else %}
                    <input type="text" name="{{ field.id }}" val="{{ field.type }}" class="source_input">
                {% endif %}
            </div>
        </div>

        {% if field.multifields > 1 %}
            <div class="control-group">
                <div class="controls">
                    <button id="{{ field.id }}" class="btn btn-success add_field">
                        Додати ще
                    </button>
                </div>
            </div>
        {% endif %}

    {% else %}
        <div class="control-group">
            <i style="float:left">{{ field.label }}:</i>
        </div>
        <div class="subfields">
            {% for key, subfield in field.subfields %}
                <div class="control-group">
                    <label for="{{ field.id }}[{{ key }}]" class="control-label">
                        {{ subfield }}
                    </label>

                    <div class="controls">
                        <input type="text" name="{{ field.id }}[{{ key }}]" val="{{ field.type }}"
                               class="source_input" id="{{ field.id }}[{{ key }}]">
                    </div>
                </div>
            {% endfor %}

            {% if field.multifields > 1 %}
                <div class="control-group">
                    <div class="controls">
                        <button id="{{ field.id }}" class="btn btn-success add_fields">
                            Додати ще
                        </button>
                    </div>
                </div>
            {% endif %}

        </div>

    {% endif %}

{% endfor %}

<script>
    var multifields = {{ multifields|raw }};
</script>